* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 5vh;
    background-color: #404040;
    padding: .5vh;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

#d20icon {
    height: 4vh;
}

#d20icon:hover {
    cursor: pointer;
}

#gear {
    height: 4vh;
    float: right;
    opacity: .5;
}

#gear:hover {
    opacity: 1;
    cursor: pointer;
}

#emailDisplaydiv {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    height: 100%;
    vertical-align: bottom;
    padding-top: .7vh;
    float: right;
    margin-right: 1vw;
}

#homeTmplBody {
    background-image: url(images/campSite.jpg);
    width: 100vw;
    height: 95vh;
    background-repeat: no-repeat;
    padding-top: 40vh;
}

#joinIndiv {
    text-align: center;
    margin: 0 auto;
    font-size: 5vh;
    font-weight: bold;
    color: white;
    background-color: rgba(127, 127, 127, 0.5);
    width: 30vw;
    min-height: 10vh;
    padding: 2vh;
    border-radius: 2vh;
}

#joinIndiv:hover {
    cursor: pointer;
    transition: all 1s ease;
    background-color: rgba(127, 127, 127, 1);
}

#tableTopBody {
    width: 100vw;
    height: 95vh;
    overflow: hidden;
}

#ttleft {
    width: 80vw;
    height: 95vh;
    display: inline-block;
}

#gameBoarddiv {
    width: 80vw;
    height: 93vh;
    transition: all .25s ease;
}

#controlPaneldiv {
    width: 80vw;
    height: 2vh;
    background-color: lightgray;
    border-top: 1px solid black;
}

#chatdiv {
    width: 20vw;
    height: 96vh;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin-top: -1vh;
    font-size: 2vh;
    padding: 1vh 0;
    border-left: 1px solid black;
}

#messageBox {
    height: 92vh;
    overflow: auto;
    border-top: 1px solid black;
    padding-bottom: 2vh;
}

#inputMessage {
    width: 16vw;
    margin: .5vh 0 .5vw .5vw;
    height: 3.5vh;
    font-size: 2vh;
    padding: .5vh .5vw;
    border-radius: 1vw;
    outline: none;
    border-bottom-right-radius: 0;
}

#inputMessagePP {
    position: absolute;
    margin-top: .25vh;
    width: 2.5vw;
    height: 4.5vh;
    margin-left: .5vw;
    
}

.messagePostdiv {
    width: 16vw;
    margin: 1vh .5vw 2vh .5vw;
    padding: .5vw 1vw;
    border-radius: 1vw 1vw 0 1vw;
    box-shadow: 5px 5px 5px gray;
}

::-webkit-scrollbar {
    display: none;
}

.rolldiv {
    text-align: center;
    background-image: url(images/D20.png);
    background-size: cover;
    color: white;
    width: 4vh;
    height: 4vh;
    margin: 0 auto;
    padding-top: 1vh;
    font-style: italic;
}

#gameBoard {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#controlPanel {
    padding: 0 .5vw;
}

#login {
    height: 21vh;
    width: 20vw;
    background-color: rgba(255, 255, 255, .85);
    border-radius: .5vw;
    padding: 1.5vh 1vw;
    position: fixed;
    top: 40vh;
    left: 40vw;
    text-align: center;
    font-size: 2vh;
    box-shadow: 2vh 2vh 1vh rgba(0, 0, 0, .5);
}

#cancelPop {
    position: fixed;
    left: 59vw;
    top: 40vh;
    color: gray;
    transition: all .5s ease;
}

#cancelPop:hover {
    cursor: pointer;
    color: black;
}

.popUpInput {
    padding: 5px;
}

#loginOrSignUpdiv {
    padding-top: 1.5vh;
}

.LoSButt {
    margin: 1vh 1vw 0 1vw;
    outline: none;
    
    display: inline-block;
    background-color: lightgray;
    padding: .5vh .5vw;
    font-size: 1.5vh;
    color: black;
    
}

.LoSButt:hover {
    cursor: pointer;
    background-color: gray;
}

#settingsbody {
    height: 95vh;
    width: 100vw;
    padding-top: 12.5vh;
    background-image: url(images/DeepForest.jpg);
    background-size: cover;
    background-position: center;
}

#errmssg {
    position: fixed;
    margin-left: -1vw;
    text-align: center;
    font-size: 2vh;
    width: 20vw;
}

#settingsProfilePicdiv {
    width: 10vw;
    height: 10vw;
    margin: 0 auto;
}

#settingsProfilePic {
    width: 10vw;
    height: 10vw;
}

.postedUserPic {
    width: 2.6vw;
    height: 2.6vw;
    float: right;
    position: relative;
    left: 4.1vw;
    top: -1vh;
}

#changeProfilePicdiv {
    text-align: center;
    margin-top: 2vh;
}

#minmaxcon {
    text-align: center;
    height: 1.7vh;
    width: 80vw;
    position: relative;
    left: -.5vw;
    background-color: darkgray;
    font-size: 1.5vh;
    font-weight: bold;
}

#minmaxcon:hover {
    cursor: pointer;
}

#controlPanelmain {
    padding-top: 1vh;
    width: 100%;
    height: 13vh;
}

#settingsDiv {
    padding: 2vh 0vw; 
    width: 30vw;
    height: 70vh;
    margin: 0 35vw;
    background-color: rgba(255, 255, 255, .5);
    border-radius: .5vw;
    box-shadow: 2vh 2vh 1vh rgba(0, 0, 0, .5);
}

.settingButts {
    background-color: lightgray;
    text-align: center;
    padding-top: .5vh;
    display: inline-block;
    width: 9vw;
    height: 5vh;
    font-size: 3vh;
    font-family: fantasy;
    margin: 5vh 0 0 4vw;
    color: gray;
}

.settingButts:hover {
    cursor: pointer;
    
}

#newPPurl {
    outline: none;
    height: 2vh;
    width: 8vw;
    padding: 0 .15vw;
}

#newPPurlButt{
    height: 2vh;
    vertical-align: top;
    width: 3vw;
}

#controlPanelBGInput {
    width: 15vw;
    height: 2.5vh;
    font-size: 1.5vh;
    padding-left: .25vw;
    outline: none;
}

#controlPanelBGsubmitButt {
    height: 2.5vh;
    width: 5vw;
    vertical-align: top;
}

#clearMessages {
    display: inline-block;
    width: 9vw;
    height: 4vh;
    text-align: center;
    padding: 1vh;
    background-color: lightgray;
    font-weight: bold;
    margin-top: 1.15vh;
}

#clearMessages:hover {
    cursor: pointer;
}

#fdspace {
    
}

#picker {
    width: 10.25vw;
    margin: 1vh 0 1vh 10vw;
}

.colorChoiceDivs {
    display: inline-block;
    width: 8vw;
    height: 8vh;
    margin-left: 1.4vw;
    margin-top: 1vh;
    transition: all .25s ease;
}

.colorChoiceDivs:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.colorChoicemessagediv {
    display: inline-block;
    margin: 2vh 2vw;
    text-align: center;
    padding-top: 1.4vh;
    width: 4vw;
    height: 4vh;
    border-radius: 1vw 1vw 0 1vw;
    font-size: 1.25vh;
}

#bgColorChoice {
    background-color: #B63AA8;
}

#messageColorChoice {
    background-color: #B63AA8;
    
}
#fontColorChoice {
    color: #B63AA8;
}

#gameBoardBG {
    position: absolute;
    width: 100%;
    height: 100%;
}

.tokens {
    position: absolute !important;
    width: 6%;
    height: 9%;
    text-align: center;
    font-weight: bold;
    font-size: 2vh;
}

.tokenBG {
    width: 100%;
    height: 100%;
}

.selectedToken {
    outline: 2px solid limegreen;
}

#controlPanelBGspace {
    padding-left: 1vw;
    display: inline-block;
    width: 30%;
    height: 100%;
    vertical-align: top;
}

#controlPanelTokenSpace {
    margin-left: -1vw;
    display: inline-block;
    vertical-align: top;
    width: 57%;
    height: 100%;
}

#controlPanelMessagesSpace {
    margin-left: 1vw;
    display: inline-block;
    vertical-align: top;
    width: 12%;
    height: 100%;
}

#TokenSpaceButtons {
    display: inline-block;
    vertical-align: top;
}

#TokenSpacePreview {
    display: inline-block;
    margin-left: 2vw;
    padding-top: 1vh;
}

#TokenPrviewImgDiv{
    outline: 2px solid lightgray;
    background-color: lightgray;
    width: 5vw;
    height: 5vw;
    display: inline-block;
}

#TokenPreviewImg {
    width: 100%;
    height: 100%;
}


#rmbuttsdiv {
    display: inline-block;
    vertical-align: top;
    width: 10.1vw;
    margin-left: -1vw;
}

#removeSTdiv {
    
}

#removeSTdiv:hover {
    cursor: pointer;
}

#removeAlldiv {
    width: 9vw;
    height: 4vh;
    text-align: center;
    padding: 1vh;
    background-color: lightgray;
    font-weight: bold;
    display: inline-block;
    margin-top: 1.25vh;
    vertical-align: top;
    display: inline-block;
    margin-left: 0;
}

#removeAlldiv:hover {
    cursor: pointer;
}

#newTokenUrlInput {
    width: 11.5vw;
    height: 2.5vh;
    padding: 0 .25vw;
}

#newTokenUrlInputButt {
    width: 5.75vw;
    height: 2.5vh;
}

.defaultImagesClass {
    margin-top: 1vh;
    width: 5.5vw;
    height: 3vh;
    margin-left: .75vw;
    display: inline-block;
    transition: all .05s linear;
    overflow: hidden;
    align-content: center;
}

.defaultImagesClass:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
}

.defaultImagesImage {
    width: 100%;
    height: 100%;
}

#hpInputDiv {
    margin-top: 2.5vh;
    width: 17.25vw;
    font-size: 4vh;
    text-align: left;
}

.HPInput {
    width: 4vw;
    height: 4vh;
    vertical-align: top;
    text-align: center;
    font-size: 3vh;
}

#updateHPbutt {
    display: inline-block;
    height: 4vh;
    width: 3.25vw;
    text-align: center;
    font-size: 1.5vh;
    vertical-align: top;
    margin-left: .5vw;
    font-weight: bold;
    padding-top: 1vh;
    background-color: lightgray;
}

#updateHPbutt:hover {
    cursor: pointer;
}

#showHPsdiv {
    display: inline-block;
    width: 10.1vw;
    height: 9.5vh;
    vertical-align: top;
}

.maxBars {
    width: 100%;
    height: 1vh;
    position: absolute;
    top: -1vh;
    background-color: lightcoral;
}

.currentBarsGreen {
    height: 1vh;
    background-color: lightgreen;
    transition: 1s all ease;
    transition-delay: .5s;
    position: absolute;
    max-width: 100%;
}

.currentBarsYellow {
    height: 1vh;
    background-color: lightyellow;
    transition: all 2s ease;
    transition-delay: 1s;
    position: absolute;
    max-width: 100%;
}

.currentBarsPurple {
    height: 1vh;
    background-color: lightseagreen;
    transition: all .5s ease;
    position: absolute;
    max-width: 100%;
}

.shdivs {
    height: 4vh;
    width: 8vw;
    text-align: center;
    background-color: lightgray;
    font-size: 1.5vh;
    font-weight: bold;
    padding-top: 1vh;
    margin-left: 2vw;
    margin-bottom: 1.3vh;
}

.shdivs:hover {
    cursor: pointer;
}

.HPfontColorDiv {
    display: inline-block;
    width: 2.5vw;
    height: 2vw;
    margin-left: 2.85vw;
}

.HPfontColorDiv:hover {
    cursor: pointer;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
    margin-left: 1.1vw;
    outline: 1px solid black;
}





.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



.tokens.ng-enter {
    animation: tokensEnter 1.75s ease-in;
    position: relative;
}

@keyframes tokensEnter {
    from{
        opacity: 0;
        top: -30%;
        transform: rotateX(-1800deg) rotateY(-720deg) rotateZ(-720deg);
        
    }
    60% {
        top: 45%;
        transform: rotateX(-720deg) rotateY(-720deg) rotateZ(-720deg);
    }
    70% {
        top: 35%;
    }
    90% {
        top: 45%;
        transform: rotateX(-20deg) rotateY(-180deg) rotateZ(-360deg)
    }
    to {
        opacity: 1;
        top: 45%;
    }
}


.messagePostdiv.ng-enter { 
    -webkit-animation: enter 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
}

@-webkit-keyframes enter {
    from {
        opacity: 0;
        right: -70px;
    }
    75% {
        right: 15px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        right: -70px;
    }
    75% {
        right: 15px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}
 
.messagePostdiv.ng-leave { 
    -webkit-animation: leave 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
} 
@-webkit-keyframes leave {
    to {
        opacity: 0;
        right: -70px;
    }
    25% {
        right: 15px;
    }
    from {
        opacity: 1;
        right: 0px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        right: -70px;
    }
    25% {
        right: 15px;
    }
    from {
        opacity: 1;
        right: 0px;
    }
}


